<% provide :title,  t("Editing ", model: t('activerecord.models.status').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= render 'form' %>

<%= link_to t('Show'), @status %> |
<%= link_to t('Back'), statuses_path %>
