<h1><%= t('About') %></h1>
<p>このアプリケーションは、平成26年度青森大学教育研究プロジェクト「行動変容のための自己マネジメント促進ポイントシステムの構築と活用」プロジェクトで開発されました。</p>
<p>青森大学1年生必修の講義「地域貢献基礎演習」で活用しています。</p>
<p>学生はFeliCaカードを用いて、Windows 8.1タブレットの記録端末で、自己マネジメントするミッションの達成を記録します。</p>
<p><%= image_tag "aoca_card.png" %></p>
<p>ミッションの達成履歴やランキング、割り振られたミッションなどは、Webアプリで確認できます。</p>
<p>このプロジェクトは、青森大学と株式会社リンクステーションの連携プロジェクトです。</p>
	