<h1><%= t('About') %></h1>
<h2>ミッションを達成し、自分自身をレベルアップ!</h2>
<p><%= image_tag "aoca_card.png" %></p>
<p>学生生活「見える化」プロジェクトは、ミッションを達成していくことで、自分自身をレベルアップしていくことを目的としています。</p>
<p>ミッションは「スタディ」「ヘルス」「モラル」「コミュニケーション」の4つ。</p>
<p>自分のレベルに応じて、ミッションが割り当てられます。</p>
<p>ミッションを達成したら、AOCaカードをAOCaタブレットに置いて、記録しよう!　ミッションは1日1回まで記録できるよ!</p>
<p>自分のレベルやミッションの達成状況は、このWebアプリで確認できる！　Webアプリにログインすると1日1回までボーナス経験値がつくよ！</p>
<h2>プロジェクト概要</h2>
<p>学生生活「見える化」プロジェクトは、平成26年度青森大学教育研究プロジェクト「行動変容のための自己マネジメント促進ポイントシステムの構築と活用」により実施されています。</p>
<p>このプロジェクトは、青森大学と株式会社リンクステーションの連携プロジェクトです。</p>
<p>青森大学1年生必修の授業「地域貢献基礎演習」で活用しています。割り振られるミッションは、「地域貢献基礎演習」で学生が考えたものです。</p>
<p>学生はFeliCaカード(AOCaカード)を用いて、Windows 8.1タブレットの記録端末(AOCaタブレット)で動くC#アプリで、自己マネジメントを目的としたミッションの達成を記録します。</p>
<p>ミッションの達成履歴やランキング、割り振られたミッションなどは、Ruby on Rails 4.1 + Twitter Bootstrap 3で開発されたWebアプリ(本Webサイト)で確認できます。WebアプリはクラウドPaaSのherokuで稼働しています。</p>
<h2>アプリ開発スタッフ</h2>
<p>企画・運営: 社会学部教員 柏谷至、工藤雅世、ソフトウェア情報学部教員 角田均、小久保温</p>
<p>カードデザイン: ソフトウェア情報学部学生 三上絢佳</p>
<p>Webアプリデザイン: ソフトウェア情報学部学生 織田将史</p>
<p>Windows端末アプリ: ソフトウェア情報学部学生 伊藤匠、今北斗</p>
<p>FeliCaカードSDK: 株式会社リンクステーション</p>
