<% provide :title,  t("Editing ", model: t('activerecord.models.history').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= render 'form' %>

<%= link_to t('Show'), @history %> |
<%= link_to t('Back'), histories_path %>
