<% provide :title,  t("Editing ", model: t('activerecord.models.role').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= render 'form' %>

<%= link_to t('Show'), @role %> |
<%= link_to t('Back'), roles_path %>
