<% provide :title,  t("Editing ", model: t('activerecord.models.level').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= render 'form' %>

<%= link_to t('Show'), @level %> |
<%= link_to t('Back'), levels_path %>
