@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 60px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
td, th { padding: 3px; }
th { border-bottom: 1px solid #DDD; }

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert, .alert-heading {
  color: #c09853;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
  color: #468847;
}
.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p, .alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

.control-group.warning > label, .control-group.warning .help-block, .control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
}
.control-group.warning input:focus, .control-group.warning select:focus, .control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: 0 0 6px #dbc59e;
  -moz-box-shadow: 0 0 6px #dbc59e;
  box-shadow: 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error input, .control-group.error select, .control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
  color: #468847;
}
.control-group.success input, .control-group.success select, .control-group.success textarea {
  color: #468847;
  border-color: #468847;
}
.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: 0 0 6px #7aba7b;
  -moz-box-shadow: 0 0 6px #7aba7b;
  box-shadow: 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block;
}

label.field_with_errors {
  color: #b94a48;
}
input.field_with_errors,
select.field_with_errors,
textarea.field_with_errors {
  color: #b94a48;
  border-color: #b94a48;
}
input:focus .field_with_errors,
select:focus .field_with_errors,
textarea:focus .field_with_errors {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  th, td {
    border: 1px solid black;
  }
}

.message-right, .message-left {
  width: 80%;
  font-weight: normal !important;
  text-align: left;
  padding: 10px 10px 0 10px;
  margin: 5px 0px;
}
.message-right {
  float: right;
}
.message-left {
  float: left;
}
/* テキストを省略せずに表示する */
/*.ui-header .ui-title, */ /* ヘッダー */
/* .ui-footer .ui-title, */ /* フッター */
.ui-btn-inner, /* ボタン */
.ui-li-heading, /* リスト見出し */
.ui-li .ui-btn-text a.ui-link-inherit, /* リンクリスト */
.ui-li-desc /* リスト詳細 */
{
  overflow: visible !important;
  white-space: normal !important;
}
