<p>
  <strong><%= t('activerecord.attributes.category.name') %>:</strong>
  <%= @category.name %>
</p>

<%= link_to t('Edit'), edit_category_path(@category) %> |
<%= link_to t('Back'), categories_path %>
