<% provide :title,  t("Editing ", model: t('activerecord.models.seminar').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= render 'form' %>

<%= link_to t('Show'), @seminar %> |
<%= link_to t('Back'), seminars_path %>
