<% provide :title,  t("Editing ", model: t('activerecord.models.acquisition').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= render 'form' %>

<%= link_to t('Show'), @acquisition %> |
<%= link_to t('Back'), acquisitions_path %>
